*{
  margin: 0;
  padding: 0;
  
}

html{
  scroll-behavior: smooth;
}

body{
  overflow-y: auto;
  overflow-x: hidden;
  background-image: linear-gradient(to right bottom, #d6e9b0, #bdf3dc, #c8f5fa, #e7f4ff, #f8f8f8);;
}

iframe{
  height: 400px;
  width: 300px;
}

@media (min-width: 400px) {
  iframe{
    width: 300px;
    height: 400px;
  }
}

@media (min-width: 800px) {
  iframe{
    width: 500px;
    height: 400px;
  }
}








