.navbar{
  font-size: 4vh;
  display: flex;
  list-style-type: none;
  background-color: black;
  color: white;
  z-index: 2;
  top: 0;

}

.navbar2{
  font-size: 4vh;
  display: none;
  list-style-type: none;
  background-color: black;
  color: white;
  z-index: 2;
  top: 0;
  justify-content: space-around;
  align-content: space-around;
  position: sticky;

}

@media (max-width: 910px){
  .navbar2{
    display: flex;
  }

  .navbar{
    display: none;
  }
}

.nav_img{
  height: 7vh;
  width: 7vh;
  padding-top: 4px;
  
}

.nav_img2{
  height: 7vh;
  width: 7vh;
  padding-top: 4px;
  margin: auto;
}

.nav_li{
  margin-left: 5vw;
  cursor: pointer;
  padding: 2vh;
  color: white;
  text-decoration: none;
}

.nav_li2{
  cursor: pointer;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 2vh;
  left: 2vh;
}

.sideMenu{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}



.underline_animation {
  position: relative;
  display: inline-block;
  color: white;
}

.underline_animation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px; /* Adjust based on your font size */
  width: 0;
  height: 2px; /* Thickness of the underline */
  background-color: yellow; /* Color of the underline */
  transition: width 0.5s ease; /* Transition effect */
}

.underline_animation:hover::after {
  width: 100%; /* Full width of the text */
}

.toggle-switch {
  position: relative;
  width: 200px;
}

.label {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
}

.input {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}


.slider::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 16px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: inset 28px -4px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

.mltrain{
  text-align: center;
  font-size: 10vh;


}

.subpara{
  text-align: center;
  margin: 4vh;

}

.read{
  padding: 10px;
  height: 40px;
  margin: auto 2px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  background-color: lightgray;
  font-weight: bolder;
  transition: background-color 0.5s ease-in,font-weight 0.5s ease-in;
}

.read:hover{
  background-color: darkgray;

}

.compo_body{
  height: 86vh;
}

@media only screen and (max-width: 916px) {
  .navbar{
      position: sticky;
  }

  .compo_body{
    height: 100%;
  }
  
}

@media only screen and (max-width: 363px) {
  .flexDiv{
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
  }
  
}







